<p>sum-form works!</p>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Number 1</mat-label>
        <input matInput placeholder="num1" [(ngModel)]="num1" name="num1">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Number 2</mat-label>
        <input matInput placeholder="num2" [(ngModel)]="num2" name="num2">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Result</mat-label>
        <input matInput placeholder="Result" [(ngModel)]="result" name="result" readonly    >
    </mat-form-field>

    <div class="center">
        <button matButton="elevated" (click)="sumForm()">Click here to sum</button>
    </div>
</form>